*{
    margin: 0;
}
/*common shared styles*/
body{
    font-family: 'Abhaya Libre', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.section-title{
    margin-top: 60px;
    color: var(--dark-01, #151414);
    font-size: 35px;
    font-weight: 700;

}
.header{
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right, top left; 

}
.banner{
    padding: 0px 0px 0px 150px ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-align: justify;
}

.banner-title{
    color: #151414;
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-right: 0px;
}
.banner-description{
    color: var(--dark-02, #444343);
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}
.banner-img{
    width: 1200px;
    height: 608px;
    padding-left: 0px;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border:none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px; 
}
/*about section*/
.person-img{
    width:  400px;
    height: 500px;
    padding-left: 270px;
    padding-top: 100px;

}
.about-container{
    display: flex;
    justify-content: space-between;
    padding: 200px;

}
.section-description{
    color: var(--dark-02, #444343);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    
}
ul > li{
    color: var(--dark-02, #444343);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
/*my plans section*/
#title{
    text-align: center;
    padding-top: 10px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px 100px;
}
.skill{
    padding: 30px;
}
.skill-part{
    background-image: url('../images/watch.png'), url('../images/gradient1.png');
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    border-radius: 8px;
    width: 1000px;
    height: 300px;
    padding: 50px 530px 50px 530px;
    
}
.headline{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
}
/*footer section*/
